@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
/*font-family: 'Manrope', sans-serif;*/

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

body, html {
    height: 100%;
}

.image {
    width: 300px;
    height: 240px;
}
.card {
    overflow: hidden;
    margin-top: 60px;
    width: 330px;
    height: 500px;
    border-radius: 20px;
    background-color: #ffffff;
    position: relative;
}

.image-card {
   width: 330px;
   height: 190px;
   border-radius: 20px 20px 0px 0px;
   background-image: url(images/drawers.jpg);
   background-position: center;
   background-size: cover;
   margin-bottom: 10px;
}

.publication {
    padding: 20px;
}

.publication h2 {
    font-size: 18px;
    line-height: 25px;
    color: hsl(217, 19%, 35%);
    margin-bottom: 15px;
}

.publication p {
    color: hsl(214, 17%, 51%);
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.user {
    width: 100%;
    padding: 20px;
    padding-bottom: 18px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.image-profile {
    width: 37px;
    height: 37px;
    border-radius: 50px;
}

.information-user{
    padding-right: 65px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.information-user strong {
    font-size: 14px;
    color: hsl(217, 19%, 35%);
}

.information-user span {
    font-size: 12px;
    color: hsl(214, 17%, 51%);
}

.button-icon {
    width: 15px;
}

.button-sh{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    padding: 5px;
    border-style: none;
    background-color: hsl(210, 46%, 95%);
}

.button-share{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 50%;
    padding: 5px;
    border-style: none;
    background-color: hsl(210, 46%, 95%);
}

.share {
    display: flex;
    flex-direction: row;
    background-color: hsl(217, 19%, 35%);
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 25px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
}

.icons-share{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.share h4 {
    font-weight: 500;
    color: hsl(214, 17%, 51%);
    letter-spacing: 5px;
    font-size: 14px;
}

.share .icon {
    min-width: 20px;
}

.active {
    background-color: #6d7f97;
    
}

.active img {
    filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(347deg) brightness(300%) contrast(101%);
}

.disable {
    display: none;
}

@media screen and (min-width: 700px){

    body {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card {
        width: 850px;
        height: 350px;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow: unset;
    }

    .image-card {
        width: 130%;
        height: 100%;
        border-radius: 20px 0px 0px 20px;
        background-position: center;
        margin-bottom: 0;
     }

    .publication {
        padding: 0 50px 50px 50px;
        height: 100%;
        margin-top: 60px;
    }

    .publication h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .publication p {
        font-size: 16px;
        line-height: 25px;
    }

    .user {
        width: 500px;
        padding-right: 50px;
        padding-left: 50px;
        position: absolute;
        right: 0; 
    }

    .information-user {
        margin-left: 5px;
    }

    .button-sh {
        cursor: pointer;
        position: relative;
    }

    .share {
        display: none;
    }

    .button-sh .tooltiptext {
        display: flex;
        flex-direction: row;
        visibility: hidden;
        width: 250px;
        height: 50px;
        background-color: hsl(217, 19%, 35%);
        color: #fff;
        text-align: center;
        align-items: center;
        justify-content:space-around;
        border-radius: 6px;
        padding: 10px;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -120px;
        opacity: 0;
        transition: opacity 0.3s;
      }

      .button-sh .tooltiptext .tooltip-cions {
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
      .button-sh .tooltiptext span {
        font-size: 16px;
        letter-spacing: 5px;
        color: hsl(214, 17%, 51%);
      }
      
      .button-sh .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
      }
      
      .button-sh:hover {
        background-color: hsl(214, 17%, 51%);
      }

      .button-sh img:hover {
        filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(347deg) brightness(300%) contrast(101%);
      }

      .button-sh:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
      }


}
